* {
    margin: 0;
    padding: 0;
}
html,
body,
#app {
    margin: 0;
    padding: 0;
    height: 100%;
}

#app {
    position: relative;
    box-sizing: border-box;
}

.nav-bar {
    padding: 40px 0 50px 0;
}

/* 清除浮动 */
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
